*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* Font-size set to 62.5% because that is the result of 10/16 (set to 10 pixels, meaning 1rem = 10px */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 20px; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #2F4858; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

h2 {
  font-size: 2.8rem; }

.btn {
  border-radius: 1.2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.16);
  color: #2F4858;
  width: 17rem;
  margin: 1rem;
  padding: 1.5rem 3rem;
  transition: all 0.2s; }
  .btn:link, .btn:visited {
    text-decoration: none; }
  .btn:hover {
    background-color: #8cfe4a;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.16); }
  .btn--green {
    background-color: #ACFE7D; }
  .btn:active {
    transform: translateY(0.25rem); }

.header__image {
  display: flex;
  justify-content: center;
  padding: 1.5rem; }

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__text--subtitle-top, .header__text--subtitle-bottom {
    max-width: 80%; }
  .header__text--name-text {
    width: 90%; }
  .header__text--name-first {
    display: grid;
    grid-template-columns: 1fr repeat(6, 1fr) 1fr;
    padding-top: 15px;
    padding-bottom: 25px; }
  .header__text--name-second {
    display: grid;
    grid-template-columns: 1fr repeat(6, 1fr) 1fr;
    padding-bottom: 15px; }
  .header__text--name-letter1 {
    grid-column: 3 / 4; }
  .header__text--name-letter5 {
    grid-column: 2 / 3; }

.header__buttons {
  display: flex;
  flex-direction: column;
  align-items: center; }

.container {
  background-image: linear-gradient(to left top, #83D8EA, #F0E690);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  height: 75rem; }

.header__text--subtitle-top, .header__text--subtitle-bottom {
  text-align: center; }

.header__text--name-text {
  font-weight: 300;
  font-size: 7rem; }

.header__text--name-letter {
  text-align: center;
  padding: .2rem .5rem;
  margin: .2rem;
  font-size: 3rem; }

.header__text--name-letter1 {
  transform: rotate(20deg);
  background: #83D8EA;
  transition: ease 0.3s; }
  .header__text--name-letter1:hover {
    transform: rotate(-10deg) scale(1.3); }

.header__text--name-letter2 {
  transform: rotate(-12deg);
  background: #F0E690;
  transition: ease 0.3s; }
  .header__text--name-letter2:hover {
    transform: rotate(20deg) scale(0.8); }

.header__text--name-letter3 {
  transform: rotate(10deg);
  background: #83D8EA;
  transition: ease 0.3s; }
  .header__text--name-letter3:hover {
    transform: rotate(-5deg) scale(1.7); }

.header__text--name-letter4 {
  transform: rotate(-10deg);
  background: #ACFE7D;
  transition: ease 0.3s; }
  .header__text--name-letter4:hover {
    transform: rotate(35deg) scale(1.1); }

.header__text--name-letter5 {
  transform: rotate(5deg);
  background: #83D8EA;
  transition: ease 0.3s; }
  .header__text--name-letter5:hover {
    transform: rotate(25deg) scale(0.8); }

.header__text--name-letter6 {
  transform: rotate(-5deg);
  background: #ACFE7D;
  transition: ease 0.3s; }
  .header__text--name-letter6:hover {
    transform: rotate(-15deg) scale(1.6); }

.header__text--name-letter7 {
  transform: rotate(5deg);
  background: #F0E690;
  transition: ease 0.3s; }
  .header__text--name-letter7:hover {
    transform: rotate(20deg) scale(1.5); }

.header__text--name-letter8 {
  transform: rotate(-15deg);
  background: #ACFE7D;
  transition: ease 0.3s; }
  .header__text--name-letter8:hover {
    transform: rotate(40deg) scale(0.6); }

.header__text--name-letter9 {
  transform: rotate(10deg);
  background: #83D8EA;
  transition: ease 0.3s; }
  .header__text--name-letter9:hover {
    transform: rotate(-10deg) scale(2); }

.header__text--name-letter10 {
  transform: rotate(-5deg);
  background: #F0E690;
  transition: ease 0.3s; }
  .header__text--name-letter10:hover {
    transform: rotate(40deg) scale(1.3); }

.header__image img {
  height: 23rem; }
