*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* Font-size set to 62.5% because that is the result of 10/16 (set to 10 pixels, meaning 1rem = 10px */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #2F4858; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1rem; }

h2 {
  font-size: 2.5rem;
  padding: 3rem 0; }

p {
  padding: 1rem 0;
  font-size: 1.8rem;
  line-height: 3.5rem;
  letter-spacing: .15rem; }

a:link, a:visited {
  color: #2F4858;
  font-weight: 600; }

.small-text {
  font-size: 1.4rem;
  letter-spacing: .05rem;
  line-height: 1.9rem; }

@media only screen and (min-width: 700px) {
  h2 {
    font-size: 3rem; }
  h3 {
    font-size: 2rem; } }

.btn {
  border: none;
  border-radius: 1.2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.16);
  color: #2F4858;
  transition: all 0.2s; }
  .btn:link, .btn:visited {
    text-decoration: none; }
  .btn:active {
    transform: translateY(0.25rem); }
  .btn--green {
    background-color: #ACFE7D;
    padding: 1rem 1.5rem; }
    .btn--green:hover {
      background-color: #8cfe4a;
      box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.16); }
  .btn--outline {
    border: 2px solid #ACFE7D;
    color: white;
    padding: 1rem 1.5rem; }
    .btn--outline:hover {
      color: #2F4858;
      background-color: #ACFE7D; }

.info-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%; }

.info-card {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25), 0 0 4rem 0px rgba(100, 100, 100, 0.25);
  margin: 3rem;
  width: 300px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  position: relative; }
  .info-card h3 {
    padding-top: 5.5rem; }
  .info-card p {
    font-size: 1.4rem;
    line-height: 2.2rem; }
  .info-card__image {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25), 0 0 4rem 0px rgba(100, 100, 100, 0.25);
    background-image: linear-gradient(to right bottom, #83D8EA, #F0E690);
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    height: 11rem;
    justify-content: center;
    left: 50%;
    margin-left: -5.5rem;
    position: absolute;
    top: -5rem;
    width: 11rem; }
    .info-card__image img {
      width: 6rem; }

@media only screen and (min-width: 1000px) {
  .info-cards {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem; } }

.footer {
  align-items: center;
  background: radial-gradient(#83d8ea, #008eb6);
  -webkit-clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem; }
  .footer__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 110rem; }
  .footer__social {
    margin: 7rem 0 2rem 0; }
  .footer__social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .footer__social-btn {
    margin: 1rem; }
    .footer__social-btn:link, .footer__social-btn:visited {
      text-decoration: none;
      background: #F0E690;
      border-radius: 10rem;
      padding: 1rem;
      color: #008eb6; }
    .footer__social-btn:hover {
      background: #eadc63;
      transform: scale(1.05); }

.fab {
  font-size: 3rem; }

.footer__contact {
  width: 95%;
  max-width: 40rem;
  padding-bottom: 2.5rem; }
  .footer__contact-form label {
    visibility: hidden;
    font-size: 0; }
  .footer__contact-form input:not(:last-child),
  .footer__contact-form textarea {
    border: none;
    border-radius: 6px;
    color: white;
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem;
    background: #5E5E5D;
    max-width: 40rem; }
  .footer__contact-form input::placeholder,
  .footer__contact-form textarea::placeholder {
    color: white; }
  .footer__contact-form textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif; }
  .footer__contact-btn {
    text-align: right; }

@media only screen and (min-width: 1000px) {
  .footer {
    margin-top: 5rem; }
    .footer__social-text {
      margin-bottom: 2rem; }
    .footer__content {
      flex-direction: row;
      justify-content: space-around;
      margin-top: 5rem; }
    .footer__contact-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end; } }

.nav__checkbox {
  display: none; }

.nav__button {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 7rem;
  position: fixed;
  right: 2rem;
  text-align: center;
  top: 2rem;
  width: 7rem;
  z-index: 2000; }

.nav__background {
  border-radius: 50%;
  background-image: radial-gradient(#F0E690, #83D8EA);
  height: 6rem;
  position: fixed;
  right: 2.5rem;
  top: 2.5rem;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  width: 6rem;
  z-index: 1000; }

.nav__navigation {
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 30%;
  z-index: 1500; }

.nav__list {
  left: 50%;
  list-style: none;
  opacity: 1;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 100%; }

.nav__item {
  margin: 1rem; }

.nav__link:link, .nav__link:visited {
  border-radius: 7px;
  color: #2F4858;
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .4s; }

.nav__link:hover, .nav__link:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  transform: scale(1.1); }

.nav__checkbox:checked ~ .nav__background {
  transform: scale(80); }

.nav__checkbox:checked ~ .nav__navigation {
  opacity: 1;
  width: 100%; }

.nav__icon {
  position: relative;
  margin-top: 3.5rem; }
  .nav__icon, .nav__icon::before, .nav__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #2F4858;
    display: inline-block;
    transition: all .2s; }
  .nav__icon::before, .nav__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .nav__icon::before {
    top: -.8rem; }
  .nav__icon::after {
    top: .8rem; }

.nav__button:hover .nav__icon::before {
  top: -1rem; }

.nav__button:hover .nav__icon::after {
  top: 1rem; }

@media only screen and (min-width: 1000px) {
  .nav__button {
    right: 6rem;
    top: 6rem; }
  .nav__background {
    right: 6.5rem;
    top: 6.5rem; } }

.owl-icon--image {
  height: 4.5rem; }

.owl-icon__container {
  text-align: center; }

.projects__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%; }

.projects__card {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25), 0 0 4rem 0px rgba(100, 100, 100, 0.25);
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 30rem;
  margin-bottom: 3rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 30rem; }
  .projects__card:hover .projects__card-overlay {
    background: rgba(0, 0, 0, 0.5); }
  .projects__card img {
    width: 300px;
    transition: all .2s linear; }
  .projects__card:hover img {
    transform: scale(1.1); }
  .projects__card h3 {
    color: white;
    transform: translateY(-32rem);
    transition: all .2s linear; }
  .projects__card:hover h3 {
    transform: translateY(-21rem); }
  .projects__card p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: white;
    transition: all .2s linear;
    width: 90%; }
  .projects__card:hover p {
    transform: translateY(-20rem); }
  .projects__card a {
    transition: all .2s linear;
    margin-top: 1.5rem; }
  .projects__card:hover a {
    transform: translateY(-20rem); }

.projects__card-overlay {
  position: absolute;
  height: 30rem;
  width: 30rem;
  top: 0;
  transition: all .2s linear; }

@media only screen and (min-width: 1000px) {
  .projects__cards {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .projects__card {
    margin: 0 40px; } }

.header {
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__container {
    display: flex;
    justify-content: center; }
  .header__image {
    padding: 1.5rem; }
  .header__text {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header__text--subtitle-top, .header__text--subtitle-bottom {
      max-width: 80%; }
    .header__text--name-text {
      width: 90%; }
    .header__text--name-first {
      display: grid;
      grid-template-columns: 1fr repeat(6, 1fr) 1fr;
      padding-bottom: 25px; }
    .header__text--name-second {
      display: grid;
      grid-template-columns: 1fr repeat(6, 1fr) 1fr; }
    .header__text--name-letter1 {
      grid-column: 3 / 4; }
    .header__text--name-letter5 {
      grid-column: 2 / 3; }
  .header__btn {
    height: 5rem;
    margin: 1rem;
    text-align: center;
    margin: 0 auto; }

.intro {
  margin: 1.8rem; }

.skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 110rem;
  min-width: 95vw;
  margin: 5rem; }
  .skills__container {
    padding-top: 15rem;
    display: flex;
    justify-content: center; }

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 110rem; }
  .projects__container {
    display: flex;
    justify-content: center; }

@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    flex-direction: row; }
    .header__image-container {
      height: 100%;
      padding-top: 8rem; }
    .header__text--subtitle-top {
      margin-bottom: 3rem; }
    .header__text--subtitle-bottom {
      margin-top: 3rem; }
    .header__text-container {
      height: 100%;
      padding: 6rem; }
    .header__btn {
      width: 35rem; }
      .header__btn--contact {
        text-align: left;
        margin-top: 6rem; }
      .header__btn--cv {
        text-align: right; }
      .header__btn-cv, .header__btn-contact {
        padding: 1.5rem 3rem; }
    .header__text--name-letter {
      font-size: 8rem; }
    .header__image img {
      height: 45rem; }
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-width: 110rem; }
    .skills__container {
      margin-top: -27rem;
      padding-top: 27rem;
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      z-index: -1; } }

.header__container {
  background-image: linear-gradient(to left top, #83D8EA, #F0E690);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  height: 85rem; }

.header__text--subtitle-top, .header__text--subtitle-bottom {
  text-align: center; }

.header__text--name-letter {
  text-align: center;
  padding: .2rem .5rem;
  margin: .2rem;
  font-size: 3rem; }

.header__text--name-letter1 {
  transform: rotate(20deg);
  background: #83D8EA;
  transition: ease 0.3s; }
  .header__text--name-letter1:hover {
    transform: rotate(-10deg) scale(1.3); }

.header__text--name-letter2 {
  transform: rotate(-12deg);
  background: #F0E690;
  transition: ease 0.3s; }
  .header__text--name-letter2:hover {
    transform: rotate(20deg) scale(0.8); }

.header__text--name-letter3 {
  transform: rotate(10deg);
  background: #83D8EA;
  transition: ease 0.3s; }
  .header__text--name-letter3:hover {
    transform: rotate(-5deg) scale(1.7); }

.header__text--name-letter4 {
  transform: rotate(-10deg);
  background: #ACFE7D;
  transition: ease 0.3s; }
  .header__text--name-letter4:hover {
    transform: rotate(35deg) scale(1.1); }

.header__text--name-letter5 {
  transform: rotate(5deg);
  background: #83D8EA;
  transition: ease 0.3s; }
  .header__text--name-letter5:hover {
    transform: rotate(25deg) scale(0.8); }

.header__text--name-letter6 {
  transform: rotate(-5deg);
  background: #ACFE7D;
  transition: ease 0.3s; }
  .header__text--name-letter6:hover {
    transform: rotate(-15deg) scale(1.6); }

.header__text--name-letter7 {
  transform: rotate(5deg);
  background: #F0E690;
  transition: ease 0.3s; }
  .header__text--name-letter7:hover {
    transform: rotate(20deg) scale(1.5); }

.header__text--name-letter8 {
  transform: rotate(-15deg);
  background: #ACFE7D;
  transition: ease 0.3s; }
  .header__text--name-letter8:hover {
    transform: rotate(40deg) scale(0.6); }

.header__text--name-letter9 {
  transform: rotate(10deg);
  background: #83D8EA;
  transition: ease 0.3s; }
  .header__text--name-letter9:hover {
    transform: rotate(-10deg) scale(2); }

.header__text--name-letter10 {
  transform: rotate(-5deg);
  background: #F0E690;
  transition: ease 0.3s; }
  .header__text--name-letter10:hover {
    transform: rotate(40deg) scale(1.3); }

.header__image img {
  height: 23rem; }

.skills__container {
  background-image: linear-gradient(to left top, #83D8EA, #F0E690);
  -webkit-clip-path: polygon(0 11%, 100% 5%, 100% 100%, 0 94%);
  clip-path: polygon(0 11%, 100% 5%, 100% 100%, 0 94%);
  height: 142rem; }

@media only screen and (min-width: 700px) {
  .header__text--name-letter {
    font-size: 4rem; }
  .header__image img {
    height: 28rem; }
  .intro {
    display: flex;
    justify-content: center; }
    .intro__container {
      width: 80%;
      max-width: 75rem; }
    .intro__text--container {
      box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25), 0 0 4rem 0px rgba(100, 100, 100, 0.25);
      padding: 2.5rem;
      border-radius: 3px;
      background: white; } }

@media only screen and (min-width: 1000px) {
  .skills__container {
    -webkit-clip-path: polygon(0 16%, 100% 5%, 100% 100%, 0 90%);
    clip-path: polygon(0 16%, 100% 5%, 100% 100%, 0 90%);
    height: 92rem; }
  .header__text--name-letter {
    font-size: 8rem; }
  .header__image img {
    height: 40rem; } }

.about-me {
  margin: 1.8rem; }
  .about-me__container {
    max-width: 75rem;
    margin: 0 auto; }
