<<<<<<< HEAD
@mixin card-text {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
||||||| merged common ancestors
=======
@mixin card-text {
  font-size: 1.4rem;
  line-height: 2.5rem;
}
>>>>>>> 171a326dfd63f16a3312a3e3d31021dbbb87c989
