.header {
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__container {
    display: flex;
    justify-content: center;
  }

  &__image { 
    padding: 1.5rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;  
    
    &--subtitle-top,
    &--subtitle-bottom {
      max-width: 80%;
    }

    &--name-text {
      width: 90%;
    }

    &--name-first {
      display: grid;
      grid-template-columns: 1fr repeat(6, 1fr) 1fr;
      padding-bottom: 25px;
    }

    &--name-second {
      display: grid;
      grid-template-columns: 1fr repeat(6, 1fr) 1fr;
    }

    &--name-letter1 {grid-column: 3 / 4;}
    &--name-letter5 {grid-column: 2 / 3;}
  }

  &__btn {
    height: 5rem;
    margin: 1rem;
    text-align: center;
    margin: 0 auto;
  }
}

.intro {
  margin: $margin-regular;
}

.skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 110rem;
  min-width: 95vw;
  margin: 5rem;

  &__container {
    padding-top: 15rem;
    display: flex;
    justify-content: center;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 110rem;

  &__container {
    display: flex;
    justify-content: center;
  }
}


@media only screen and (min-width: 1000px) {
  .header {   
    display: flex;
    flex-direction: row;

    &__image-container {
      height: 100%;
      padding-top: 8rem;
    }

    &__text--subtitle-top {
      margin-bottom: 3rem;
    }

    &__text--subtitle-bottom {
      margin-top: 3rem;
    }

    &__text-container {
      height: 100%;
      padding: 6rem;
    }

    &__btn {
      width: 35rem;
      
      &--contact {
        text-align: left;
        margin-top: 6rem;
      }

      &--cv {
        text-align: right;
      }

      &-cv,
      &-contact {
        padding: 1.5rem 3rem;
      }
    }

    &__text {
      &--name-letter {
        font-size: 8rem;
      }
    }

    &__image { 
      img {
        height: 45rem;
      }
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-width: 110rem;
  
    &__container {
      margin-top: -27rem;
      padding-top: 27rem;
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      z-index: -1;
    }
  }
}