.header {
  &__image { 
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;  
    
    &--subtitle-top,
    &--subtitle-bottom {
      max-width: 80%;
      padding: 1.5rem;
    }

    &--name-text {
      width: 90%;
    }

    &--name-first {
      display: grid;
      grid-template-columns: 1fr repeat(6, 1fr) 1fr;
      padding-bottom: 25px;
    }

    &--name-second {
      display: grid;
      grid-template-columns: 1fr repeat(6, 1fr) 1fr;
    }

    &--name-letter1 {grid-column: 3 / 4;}
    &--name-letter5 {grid-column: 2 / 3;}
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.intro {
  margin: 1.8rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 110rem;

  &__container {
    // margin-top: -27rem;
    padding-top: 15rem;
    // position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    // z-index: -1;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 110rem;

  &__container {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 700px) {
  .header {
    display: grid;
    grid-template-columns: 50% 5rem 1fr 1fr;
    grid-template-rows: 5rem 55% repeat(2, 1fr);
    grid-gap: 10px;

    &__image {
      grid-column: 2 / 5;
      grid-row: 2 / 4;
    }

    &__text {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &__buttons {
      grid-column: 3 / 5;
      grid-row: 3 / 4;
    }
  }

  .intro {
    margin: 1.8rem;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    &__buttons {
      grid-column: 3 / 5;
      grid-row: 4 / 5;
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 110rem;
  
    &__container {
      margin-top: -27rem;
      padding-top: 27rem;
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      z-index: -1;
    }
  }
}