.btn {
  border-radius: 1.2rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.16);
  color: $colour-dark;
  width: 17rem;
  margin: 1rem;
  padding: 1.5rem 3rem;
  transition: all 0.2s;

  &:link,
  &:visited {
      text-decoration: none; 
    }

  &:hover {
    background-color: darken($colour-highlight, 10%);
    box-shadow: 0 .25rem 1rem rgba($colour-black, 0.16);
  }

  &--green {
    background-color: $colour-highlight;
  }

  &:active {
    transform: translateY(0.25rem);
  }
}