.footer {
  align-items: center;
  background: radial-gradient(rgb(131,216,234), rgb(0,142,182));
  -webkit-clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;  

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 110rem;
  }

  // Social media icons section
  &__social {
    margin: 7rem 0 2rem 0;
  }

  &__social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  // Creates circular button
  &__social-btn {
    margin: 1rem;

    &:link,
    &:visited {
      text-decoration: none;
      background: $colour-secondary;
      border-radius: 10rem;
      padding: 1rem;
      color: rgb(0,142,182);
    }

    &:hover {
      background: darken($colour-secondary, 10);
      transform: scale(1.05);
    }
  }
}

// Sizing the font-awesome social media icons
.fab {
  font-size: 3rem;
}

// Contact form section

.footer__contact {
  width: 95%;
  max-width: 40rem;
  padding-bottom: 2.5rem;

  &-form {

    // Form labels hidden on smaller viewports
    label {
      visibility: hidden;
      font-size: 0;
    }

    // Form form input fields
    input:not(:last-child),
    textarea {
      border: none;
      border-radius: 6px;
      color: white;
      width: 100%;
      margin-bottom: 1rem;
      padding: .5rem;
      background: $colour-grey;
      max-width: 40rem;
    }

    // Set form field placeholder text to white
    input::placeholder,
    textarea::placeholder {
      color: white;
    }

    // Set form textarea field placeholder font
    textarea::placeholder {
      font-family: Arial, Helvetica, sans-serif;
    }
  } 

  // Align the form submit button right
  &-btn {
    text-align: right;
  }
}

@media only screen and (min-width: 1000px) {
  .footer {
    margin-top: 5rem;

    // Adds space below the social title
    &__social-text {
      margin-bottom: 2rem;
    }

    // Adjusts layout so social and contact sections are in one row
    &__content {
      flex-direction: row;
      justify-content: space-around;
      margin-top: 5rem;
    }

    // Aligns contact title and text to right
    &__contact-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}