.projects__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  &__card {
    @include box-shadow;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 30rem;
    margin-bottom: 3rem;
    overflow: hidden;
    position: relative; 
    text-align: center;    
    width: 30rem;

    // Darkens background on hover
    &:hover .projects__card-overlay {
      background: rgba(0, 0, 0, 0.5);
    }
 
    img {
      width: 400px;
      transition: all .2s linear;
    }

    // Increases background image on hover
    &:hover img {
      transform: scale(1.1);  
    }
    
    h3 {
      color: white;
      // Hides title text prior to hover
      transform: translateY(-38rem);
      transition: all .2s linear;
    }

    // Makes text visible on hover
    &:hover h3 {
      transform: translateY(-28rem);
    }

    p {
      @include card-text;
      color: white;
      transition: all .2s linear;
      width: 90%;
    }

    // Makes paragraph visible on hover
    &:hover p {
      transform: translateY(-27rem);
    }

    a {
      color: white;
      margin-top: 1.5rem;
      transition: all .2s linear;
    }

    // Makes button visible on hover
    &:hover a {
      transform: translateY(-27rem);
    }

    &--secondary {
      height: 23rem;
      width: 23rem;
      margin: 1rem;
    }
  }

  // Positions the overlay over the main card content
  &__card-overlay {
    position: absolute;
    height: 30rem;
    width: 30rem;
    top: 0;
    transition: all .2s linear;
  }
}

@media only screen and (min-width: 1000px) {
  .projects {
    // Ensures cards sit next to each other on larger viewports
    &__cards {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__card {
      margin: 0 40px;
    }
  }
}