*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Font-size set to 62.5% because that is the result of 10/16 (set to 10 pixels, meaning 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  // padding: 20px;
}
