body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: $colour-dark;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 2.8rem;
}