.header__container {
  background-image: linear-gradient(
    to left top,
    $colour-primary,
    $colour-secondary
  );
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.header {  
  &__text {
    &--subtitle-top,
    &--subtitle-bottom {
      text-align: center;
      font-weight: 300;
    }

    &--name-letter {
      border-radius: 3px;
      box-shadow: 1rem 1rem 4rem rgba($colour-dark, .3),
      1rem 1rem 2rem rgba($colour-dark, .5);
      font-size: 3rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      margin: .2rem;
      padding: .2rem .5rem;
      text-align: center;
    }

    &--name-letter1 {
      transform: rotate(20deg);
      background:$colour-primary;
      transition: ease 0.3s;

      &:hover {transform: rotate(-10deg) scale(1.3);}
    }

    &--name-letter2 {
      transform: rotate(-12deg);
      background: $colour-secondary;
      transition: ease 0.3s;

      &:hover {transform: rotate(20deg) scale(0.8);}
    }

    &--name-letter3 {
      transform: rotate(10deg);
      background:$colour-primary;
      transition: ease 0.3s;

      &:hover {transform: rotate(-5deg) scale(1.7);}
    }

    &--name-letter4 {
      transform: rotate(-10deg);
      background: $colour-highlight;
      transition: ease 0.3s;

      &:hover {transform: rotate(35deg) scale(1.1);}
    }

    &--name-letter5 {
      transform: rotate(5deg);
      background:$colour-primary;
      transition: ease 0.3s;

      &:hover {transform: rotate(25deg) scale(0.8);}
    }

    &--name-letter6 {
      transform: rotate(-5deg);
      background: $colour-highlight;
      transition: ease 0.3s;

      &:hover {transform: rotate(-15deg) scale(1.6);}
    }

    &--name-letter7 {
      transform: rotate(5deg);
      background: $colour-secondary;
      transition: ease 0.3s;

      &:hover {transform: rotate(20deg) scale(1.5);}
    }

    &--name-letter8 {
      transform: rotate(-15deg);
      background: $colour-highlight;
      transition: ease 0.3s;

      &:hover {transform: rotate(40deg) scale(0.6);}
    }

    &--name-letter9 {
      transform: rotate(10deg);
      background:$colour-primary;
      transition: ease 0.3s;

      &:hover {transform: rotate(-10deg) scale(2);}
    }

    &--name-letter10 {
      transform: rotate(-5deg);
      background: $colour-secondary;
      transition: ease 0.3s;

      &:hover {transform: rotate(40deg) scale(1.3);}
    }
  }

  &__image { 
    img {
      height: 23rem;
    }
  }
}

.skills {
  &__container {
    background-image: linear-gradient(
      to left top,
      $colour-primary,
      $colour-secondary
    );
    -webkit-clip-path: polygon(0 11%, 100% 5%, 100% 100%, 0 94%);
    clip-path: polygon(0 11%, 100% 5%, 100% 100%, 0 94%);
  }
}



@media only screen and (min-width: 800px) {
  .header {   
    &__text {
      &--name-letter {
        font-size: 4rem;
        box-shadow: 1rem 1rem 2rem rgba($colour-dark, .3),
                    1rem 1rem 1rem rgba($colour-dark, .5);
      }
    }

    &__image { 
      img {
        height: 28rem;
      }
    }
  }

  .header__container {
    height: 95rem;
  }

  .intro {
    display: flex;
    justify-content: center;

    &__container {
      width: 80%;
      max-width: 75rem; 
    }

    &__text {
      &--container {
        @include box-shadow;
        padding: 2.5rem;
        border-radius: 3px;
        background: white;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .skills {
    &__container {
      -webkit-clip-path: polygon(0 16%, 100% 5%, 100% 100%, 0 90%);
      clip-path: polygon(0 16%, 100% 5%, 100% 100%, 0 90%);
      height:92rem;
    }
  }

  .header {    
    &__text {
      &--name-letter {
        font-size: 8rem;
        min-width: 8rem;
      }

      &--subtitle-top,
      &--subtitle-bottom {
        font-size: 4rem;
      }
    }

    &__image { 
      img {
        height: 40rem;
      }
    }
  }
}