.projects-header {
  padding-top: 3.5rem;
  margin: $margin-regular;
  
  h1 {
    font-size: 4rem;
    text-align: left;
    margin-bottom: 1.5rem;
  }

  &__container {
    max-width: 75rem;
    margin: 0 auto;
  }
}

.projects-main__container {
  margin-bottom: 50rem;
  height: 100rem;
  position: relative;
}

.projects-main {
  max-width: 95vw;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, 0);

  &__background {
    height: 125rem;
    background-image: linear-gradient(
      to left top,
      $colour-primary,
      $colour-secondary
    );
    -webkit-clip-path: polygon(100% 5%, 0 11%, 0 94%, 100% 100%);
    clip-path: polygon(100% 5%, 0 11%, 0 94%, 100% 100%);  
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 800px) {
  .projects-header {
    padding-top: 3.5rem;
    margin: $margin-regular;
    
    &__text {
      max-width: 50%;
      margin: 0;
    }
  }
  
  .projects-main {
    // Ensures cards sit next to each other on larger viewports
    &__cards {
      display: grid;
      grid-template-columns: 5rem 30rem 7rem 30rem 5rem;
      grid-template-rows: repeat(4, 18rem);
    }

    &__card {
      margin: 0;
    }

    &__background {
      height: 93rem;
    }
  }

  .projects-main__container {
    height: 60rem;
  }

  .projects {
    &__card1 {
      grid-column: 4;
      grid-row: 1;
    }

    &__card2 {
      grid-column: 2;
      grid-row: 2;
    }

    &__card3 {
      grid-column: 4;
      grid-row: 3;
    }

    &__card4 {
      grid-column: 2;
      grid-row: 4;
    }

    &__card5 {
      top: -6rem;
      grid-column: 4;
      grid-row: 5;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .projects-header {
    &__text {
        max-width: 70%;
        margin: 0;
    }
  }
  
  .projects-main {
    &__cards {
      grid-template-columns: 5rem 30rem 12rem 30rem 5rem;
    }
  }
}